<div class="body">

  <div class="signin">
    <div class="back-img">



    </div>
    <!--/.back-img-->
    <div class="form-section">



      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header>


      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <div class="row">
          <div class="col-md-6">
            <button mat-stroked-button color="accent" (click)="login()">Sign-in</button>
          </div>
          <div class="col-md-6">
            <button mat-stroked-button color="accent" (click)="login()">New User?</button>
          </div>
        </div>



      </mat-card-content>



      <mat-divider [vertical]="true"></mat-divider>


    </div>
    <!--/.form-section-->


  </div>
  <!--/.signin-->

</div>